<div class="flex justify-center flex-col mt-4 mb-4 sm:flex-col md:flex-row">
  <select
    (change)="onCurrency1Change($event)"
    class="bg-[#0b2347] text-[#e9e9e9] rounded-md max-md:mb-2 p-2 border border-[#4fc0ad] transition duration-500 ease-in-out transform lg:hover:-translate-y-1 lg:hover:scale-110"
  >
    <option *ngFor="let code of getCurrencyCodes()" [value]="code">
      {{ currencyCodes[code] }}
    </option>
  </select>

  <select
    (change)="onCurrency2Change($event)"
    class="bg-[#0b2347] text-[#e9e9e9] rounded-md p-2 max-md:mb-2  md:ml-4 border border-[#4fc0ad] transition duration-500 ease-in-out transform lg:hover:-translate-y-1 lg:hover:scale-110"
  >
    <option *ngFor="let code of getCurrencyCodes()" [value]="code">
      {{ currencyCodes[code] }}
    </option>
  </select>

  <button
    class="buscar bg-[#0b2347] text-[#e9e9e9] max-md:mb-2 md:ml-4 border border-[#4fc0ad] rounded-md p-2 transition duration-500 ease-in-out transform lg:hover:-translate-y-1 lg:hover:scale-110"
    (click)="buscarMoeda()"
  >
    Buscar
  </button>
</div>
